<%= link_to "New Menu", "#", :class => 'new-menu' %>

<%= render 'form', :menu => @menu %>
<div class="menu-list">
  <ul class="menus list-group">
    <% @menus.each do |menu| %>
      <%= render 'menu', :menu => menu %>
      <div id="menu-<%= menu.id %>" class="partial-holder"></div>
    <% end %>
  </ul>
</div>
